<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile Page</title>
    <head>
      <link rel="stylesheet" type="text/css" href="css/style.css"/>
   </head>
  </head>
  <style>
    h1{text-align: center;}
    h2{text-align: center;}
    form{text-align: center}
  </style>
  <body>
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Admin Profile
          </h1>
          <h2 class="subtitle">
            You are signed in as an admin
          </h2>
          <form method="POST">
            <form>
              <input type="submit" class="button" name="LogOut" value="LogOut">
              <button type="submit" class="button" name="SubmitButton2" value="Go to admin inventory">Admin inventory</button>
            </form>
          </form method="POST">
        </div>
      </div>
    </section>
  </body>
</html>